{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "template.njk" %}

<!-- You may want to make further use of these components: https://design-system.service.gov.uk/components/
but ultimately it is up to you -->

{% block content %}

  <h1 class="govuk-heading-xl">Welcome to HMCTS tasks tracker!</h1>

  <!-- The freedom is yours. You can design the solution however you like, however there is a starting point provided
  to ensure you have both services running. You may want to make use of the Gov UK Components:
  https://design-system.service.gov.uk/components/ to add tabs and so forth :) -->

  <p class="govuk-body">
    A simple task tracking tool to create, view, update and delete tasks.
  </p>
  <p class="govuk-body">
    Use this to manage small pieces of work and keep track of progress.
  </p>
  
  <a class="govuk-button" href="/tasks">Go to tasks</a>

{% endblock %}
